@import "normalize";
@import "mixin";
@font-face{
  font-family: Myriad Pro;
  src: url(../fonts/MyriadProRegular/MyriadProRegular.ttf)
}
@font-face{
  font-family: Myriad Pro Cond;
  src: url(../fonts/MyriadProBoldCond/myriadpro-boldcond.ttf)
}

body{
  background-image: url(../img/background.png);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  font-family: 'Myriad Pro', serif;

}

.header {
  text-align: center;
  background-color: #e9e9e9;
  height: 65px;

  &__title {
    display: inline-block;
    position: relative;
    top: 9px;
    font-family: "Myriad Pro Cond", serif;
    font-size: 34px;
    color: #7a7a7a;
  }

  &__text{
    font-size: 13px;
    color: black;
  }
}

.content{
  width: 469px;
  height: 472px;
  background-color: #f1f1f1;
  box-shadow: 0 0 0 5px rgba(216, 216, 216, 0.32);
  border-radius: 5px;
  overflow: hidden;

  &__item{
    padding: 23px 29px;

    &_text{
      font-size: 14px;
      color: #6a6a6a;
      font-weight: bold;
    }
  }
}

hr{
  background-color: #e9e9e9;
  margin: 20px 0;
  border: none;
  color: #e9e9e9;
  height: 1px;
}

.social{
  display: flex;
  justify-content: space-between;
  margin-top: 9px;

  &__btn{
    width: 48%;
    height: 32px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:focus {
      border-color: #0366d6;
      box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
    }

    &_text{
      padding-left: 26px;
    }

    &-icon{
      position: absolute;
      &_twitter{
        left: 7px;
        top: 6px;
      }

      &_facebook{
        left: 12px;
      }
    }

    &_twitter{
      background-color: #6498fa;
    }

    &_facebook{
      background-color: #4d73a4;
    }
  }
}

.input{
  margin-top: 9px;
  &__data{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 17px;
    width: 100%;
    box-shadow:inset 0 5px 0 rgb(235, 235, 235);
    border: 0;
    font-size: 16px;

    @include placeholder {
      color: #cccccc;
    }

    &_username{
      background: white url(../img/username.png) no-repeat 97%;
    }
    &_password{
      margin-top: 20px;
      background: white url(../img/password.png) no-repeat 97%;
    }
  }

  &__checkbox{
    margin-top: 20px;
    &-item{

    }

    &-lable{

    }

    &-text{

    }
  }

  &__submit-button{

  }
}